{% extends "base.html" %}
{% block title %}Demand Details{% endblock %}
{% block content %}
<h1 class="mb-4">Demand Details</h1>
<ul class="list-group">
    <li class="list-group-item"><b>Name:</b> {{ demand.name }}</li>
    <li class="list-group-item"><b>Rank:</b> {{ demand.rank }}</li>
    <li class="list-group-item"><b>P. No.:</b> {{ demand.employee_number }}</li>
    <li class="list-group-item"><b>Ration Type:</b> {{ demand.ration_type }}</li>
    <li class="list-group-item"><b>Address:</b> {{ demand.address }}</li>
    <li class="list-group-item"><b>Unit:</b> {{ demand.unit }}</li>
    <li class="list-group-item"><b>Office Phone:</b> {{ demand.office_phone }}</li>
    <li class="list-group-item"><b>Mobile:</b> {{ demand.mobile }}</li>
    <li class="list-group-item"><b>Collection Type:</b> {{ demand.collection_type }}</li>
    <li class="list-group-item"><b>Bank Account:</b> {{ demand.bank_account }}</li>
    <li class="list-group-item"><b>IFSC:</b> {{ demand.ifsc }}</li>
    <li class="list-group-item"><b>RIK GX Number:</b> {{ demand.rik_gx_number }}</li>
    <li class="list-group-item"><b>RIK GX Date:</b> {{ demand.rik_gx_date }}</li>
    <li class="list-group-item"><b>Retirement Date:</b> {{ demand.retirement_date }}</li>
    <li class="list-group-item"><b>Promotion GX Number:</b> {{ demand.promotion_gx_number }}</li>
    <li class="list-group-item"><b>Promotion GX Date:</b> {{ demand.promotion_gx_date }}</li>
</ul>
<div class="mt-3">
    <button onclick="window.print()" class="btn btn-warning">🖨 Print</button>
    <a href="{{ url_for('officer_pdf', demand_id=demand.id) }}" class="btn btn-success">⬇ Download PDF</a>
</div>
{% endblock %}
