{% extends "base.html" %}
{% block title %}Previous Demands{% endblock %}
{% block content %}
<h1 class="mb-4">Previous/Current Ration Requests</h1>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr><th>ID</th><th>Ration Type</th><th>Unit</th><th>Date</th><th>Action</th></tr>
    </thead>
    <tbody>
        {% for d in demands %}
        <tr>
            <td>{{ d.id }}</td>
            <td>{{ d.ration_type }}</td>
            <td>{{ d.unit }}</td>
            <td>{{ d.date_created.strftime("%Y-%m-%d") }}</td>
            <td>
                <a href="{{ url_for('officer_view_demand', demand_id=d.id) }}" class="btn btn-sm btn-info">View</a>
                <a href="{{ url_for('officer_pdf', demand_id=d.id) }}" class="btn btn-sm btn-secondary">Download PDF</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('logout') }}" class="logout-btn"> Back officers Dashboard </a>

{% endblock %}