
{% extends "base.html" %}
{% block title %}Raiser Dashboard{% endblock %}
{% block content %}
<h1 class="mb-4">Raiser Dashboard</h1>
<div class="list-group">
    <a href="{{ url_for('raiser_add_officer') }}" class="list-group-item list-group-item-action">➕ Add Officer</a>
    <a href="{{ url_for('raiser_approve_demands') }}" class="list-group-item list-group-item-action">✅ Approve Officer</a>
    <a href="{{ url_for('raiser_master_list') }}" class="list-group-item list-group-item-action">📚 Raise Demand </a>
    <!-- <span class="list-group-item disabled">📦 Final list of approved officer (Coming Soon)</span> -->
</div>
<div class="logout-container">
    <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
    </div>
{% endblock %}
