<!DOCTYPE html>
<html>
<head>
    <title>Register Employee</title>
</head>
<body>
    <h1>Register Employee</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=40) }}
        </p>
        <p>
            {{ form.address.label }}<br>
            {{ form.address(size=60) }}
        </p>
        <p>
            {{ form.contact_no.label }}<br>
            {{ form.contact_no(size=20) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <p><a href="{{ url_for('home') }}">Back</a></p>
</body>
</html>
